<div *ngIf="portfolio" class="whole">
  <header id="header" class="d-flex flex-column justify-content-center">
      <nav class="nav-menu">
        <ul>
          <li><a pageScroll [pageScrollDuration]="400" href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li *ngIf="portfolio.sections['About']"><a pageScroll [pageScrollDuration]="400" href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li *ngIf="portfolio.sections['Resume']"><a pageScroll [pageScrollDuration]="400" href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li *ngIf="portfolio.sections['Projects']"><a pageScroll [pageScrollDuration]="400" href="#portfolio"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li *ngIf="portfolio.sections['Services']"><a pageScroll [pageScrollDuration]="400" href="#services"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li *ngIf="portfolio.sections['Contact']"><a pageScroll [pageScrollDuration]="400" href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
  
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center" *ngIf="user">
      <div class="container" >
        <h1>{{user.firstname}} {{user.lastname}}</h1>
        <p *ngIf="portfolio.sections['About']">I'm a <span class="typed">{{portfolio.About.profile}}</span></p>
        <div class="social-links" *ngIf="portfolio.sections['Contact']">
          <a *ngIf="portfolio.Contact.socialMedia['twitter']" [href]="portfolio.Contact.socialMedia['twitter']" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['facebook']" [href]="portfolio.Contact.socialMedia['facebook']" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['instagram']" [href]="portfolio.Contact.socialMedia['instagram']" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['github']" [href]="portfolio.Contact.socialMedia['github']" class="google-plus"><i class="bx bxl-github"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['linkedin']" [href]="portfolio.Contact.socialMedia['linkedin']" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </section><!-- End Hero -->
    
    <main id="main">
      
      <!-- ======= About Section ======= -->
      <section id="about" class="about" *ngIf="portfolio.sections['About']">
        <div class="container">
  
          <div class="section-title">
            <h2>About</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <div class="col-lg-4">
              <img src="assets/images/himanshu.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content align-self-center">
              <h3>{{portfolio.About.profile}}</h3>
              <!-- <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p> -->
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> {{portfolio.About.dob | date}}</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> {{portfolio.About.phone}}</li>
                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> {{portfolio.About.city}}</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> {{portfolio.About.degree}}</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> {{portfolio.About.email}}</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> {{portfolio.About.freelance}}</li>
                  </ul>
                </div>
              </div>
              <p>{{portfolio.About.aboutSummary}}</p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Facts Section ======= -->
      <!-- <section id="facts" class="facts">
        <div class="container">
  
          <div class="section-title">
            <h2>Facts</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">232</span>
                <p>Happy Clients</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">521</span>
                <p>Projects</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="icofont-live-support"></i>
                <span data-toggle="counter-up">1,463</span>
                <p>Hours Of Support</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <span data-toggle="counter-up">15</span>
                <p>Hard Workers</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>End Facts Section -->
      
      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg" *ngIf="portfolio.sections['Skills']">
        <div class="container">
  
          <div class="section-title">
            <h2>Skills</h2>
          </div>
          <div class="row skills-content">
            <div class="col-lg-6" *ngFor="let skillSet of skillSets">
              <div class="progress" *ngFor="let skill of skillSet">
                <span class="skill"> {{skill.skillName}}<i class="val">{{skill.skillExpertise}}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" [style]='widthConvert(skill.skillExpertise)'  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Skills Section -->

  
      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume" *ngIf="portfolio.sections['Resume']">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <!-- <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Brandon Johnson</h4>
                <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                <ul>
                  <li>Portland par 127,Orlando, FL</li>
                  <li>(123) 456-7891</li>
                  <li>alice.barkley@example.com</li>
                </ul>
              </div> -->
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item" *ngFor="let education of portfolio.Resume['education']">
                <h4>{{education.courseName}}</h4>
                <h5>{{education.courseStart}} - {{education.courseEnd}}</h5>
                <p><em>{{education.institute}}</em></p>
                <p>{{education.detail}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item" *ngFor="let experience of portfolio.Resume['experience']">
                <h4>{{experience.profile}}</h4>
                <h5>{{experience.start}} - {{experience.end}}</h5>
                <p><em> {{experience.organisation}} </em></p>
                <p>{{experience.detail}}</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
  
      <!-- ======= Projects Section ======= -->
      <section id="portfolio" class="portfolio section-bg" *ngIf="portfolio.sections['Projects']">
        <div class="container">
          <div class="section-title">
            <h2>Projects</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let project of portfolio.Projects">
              <div class="portfolio-wrap">
                <img src="assets/images/home_cv.svg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{project.title}}</h4>
                  <p>{{project.description}}</p>
                  <div class="portfolio-links">
                    <a [href]='project.link' data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>  
          </div>

        </div>
      </section><!-- End Portfolio Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services" *ngIf="portfolio.sections['Services']">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let service of portfolio.Services">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                  </svg>
                  <i class="bi bi-gear-fill"></i>
                </div>
                <h4><a>{{service.title}}</a></h4>
                <p>{{service.description}}</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <!-- End Testimonials Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact" *ngIf="portfolio.sections['Contact']">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
          </div>
  
          <div class="row mt-1">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address" *ngIf="portfolio.Contact.location">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>{{portfolio.Contact.location}}</p>
                </div>
  
                <div class="email" *ngIf="portfolio.Contact.email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>{{portfolio.Contact.email}}</p>
                </div>
  
                <div class="phone" *ngIf="portfolio.Contact.email">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>{{portfolio.Contact.phone}}</p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
  
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container" *ngIf="user">
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <p>Feel free to reach me.</p>
        <div class="social-links">
          <a *ngIf="portfolio.Contact.socialMedia['twitter']" [href]="portfolio.Contact.socialMedia['twitter']" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['facebook']" [href]="portfolio.Contact.socialMedia['facebook']" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['instagram']" [href]="portfolio.Contact.socialMedia['instagram']" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['github']" [href]="portfolio.Contact.socialMedia['github']" class="google-plus"><i class="bx bxl-github"></i></a>
          <a *ngIf="portfolio.Contact.socialMedia['linkedin']" [href]="portfolio.Contact.socialMedia['linkedin']" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  </div> 