<div class="modal-header">
    <h4 class="modal-title">Services Section</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">
                <div class="card card-body" *ngFor="let _ of services.controls; index as i">
                    <div class="row" [formGroup]="getService(i)">
                        <div class="form-group col-4">
                            <label for="title">Service Name</label>
                            <input type="text" class="form-control" formControlName="title" id="title">
                        </div>
                        <div class="form-group col-8">
                            <label for="description">Description(if any)</label>
                            <textarea class="form-control" formControlName="description"  id="description" rows="2"></textarea>
                        </div>
                    </div>
                </div>
        </div>
                <button type="button" class="btn btn-primary" (click)="addService()">Add Service</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-3" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
  </div>