<div class="modal-header">
    <h4 class="modal-title">Projects Section</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">   
                <div class="col">
                    <div class="card border-dark mb-3 " *ngFor="let _ of projects.controls; index as i">
                        <ng-container [formGroup]="getProject(i)">
                            <div class="card-header"> {{title.value}} <a class="float-right" (click)="removeProject(i)"><i class="bi bi-trash"></i></a></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <!-- <label for="title" class="col-3">Project Title</label> -->
                                    <input type="text" #title class="form-control" formControlName="title" id="title" placeholder="Project Title">
                                </div>
                                <div class="form-group">
                                    <!-- <label for="link" class="col-3">Project Link</label> -->
                                    <input type="text" class="form-control" formControlName="link" id="link" placeholder="Project Link">
                                </div>
                                <div class="form-group">
                                    <!-- <label for="description">Description(if any)</label> -->
                                    <textarea class="form-control" formControlName="description"  id="description" rows="2" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
        </div>
                <button type="button" class="btn btn-primary" (click)="addProject()">Add Project</button>
        
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-3" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
  </div>
