<div class="row">
    <div class="offset-md-2 col-md-9">
        <h4 class="display-4" style="margin-top: 30px;"><small class="text-muted">Design Portfolio</small></h4>
        <hr>
        
            <div class="row align-items-center">
                <div class="col-9">
                    <div class="row">
                        <label for="urltoken" class="col-sm-2">Your portfolio URL</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://localhost.com/portfolio/</span>
                                </div>
                                <input type="text" [formControl]="url"  class="form-control" id="url" aria-describedby="basic-addon3"> 
                            </div>
                            <div *ngIf="url.invalid && (url.dirty || url.touched)" style="color: red;">
                                <small *ngIf="url.errors?.required">
                                    URL is required.
                                </small>
                            </div>
                            <small>Your portfolio will be publically visible at above URL</small>
                        </div>
                        <div class="col-sm-3">
                            <button  [disabled]="loading" class="btn btn-primary mb-2" (click)='updateUrl()'>
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update Url
                            </button>
                        </div>
                    </div>
                    <br>
                    <form [formGroup]="imageUpload" (ngSubmit)="submit()" class="row">
                        <app-file-upload formControlName="image" [progress]="progress" class="col-9"></app-file-upload>
                        <div class="col-3">
                            <button  type="submit" class="btn btn-primary mb-2">
                                <span *ngIf="imageLoading" class="spinner-border spinner-border-sm mr-1"></span>Upload
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-3" *ngIf='profileImage'>
                    <img *ngIf='!imageLoading' [src]='profileImage' class="img-thumbnail" alt="...">
                </div>
            </div>

            <div class="row selectsections">
              <div class="col-sm-6">
                    <h4>Your portfolio structure</h4><br>
                    <div class="card">
                        <div class="card-header">
                          Introductory section
                        </div>
                        <ul class="list-group list-group-flush" *ngFor="let section of sectionKeys">
                            <li *ngIf = "sections[section]" class="list-group-item">
                            {{section}}
                            <a (click)="removeSection(section)" type="button" class="danger float-right"> <i class="bi bi-trash"></i> </a>
                            <a (click)="openSectionEditor(section)" type="button" class="danger float-right mr-3"> <i class="bi bi-pencil-square"></i> </a>
                            </li>
                        </ul>
                        <div class="card-footer">Footer</div>
                    </div>
              </div>
              <div class="col-sm-6">
                <h4>Add sections</h4><br>
                <div class="card" >
                    <ul class="list-group list-group-flush" *ngFor="let section of sectionKeys">
                        <li *ngIf="!sections[section]" class="list-group-item">
                        {{section}}
                        <a (click)="openSectionEditor(section)" type="button" class="float-right"><i class="bi bi-plus-lg"></i></a>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          
    </div>
    <div class="col-8 offset-2 text-center m-3">
        <button [disabled]="loading" type="button" class="btn btn-primary" (click)="updatePortfolio()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update Portfolio
        </button>
    </div>
</div>
